core/test/dupes/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/dupes/expected/aln_2.bed filter=lfs diff=lfs merge=lfs -text
core/test/dupes/expected/aln_3.bed filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_2.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_2.bam filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_2.bed filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_3.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_3.bam filter=lfs diff=lfs merge=lfs -text
core/test/dupes/input/aln_3.bed filter=lfs diff=lfs merge=lfs -text
core/test/ending_scaffold/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/ending_scaffold/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/ending_scaffold/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/ending_scaffold/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/het/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/het/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/het/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/het/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/hsat/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/hsat/expected/aln_1_.bed filter=lfs diff=lfs merge=lfs -text
core/test/hsat/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/hsat/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/hsat/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/hsat/input/aln_1.fa filter=lfs diff=lfs merge=lfs -text
core/test/ignore_boundaries/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/ignore_boundaries/expected/aln_1_ignore.bed filter=lfs diff=lfs merge=lfs -text
core/test/ignore_boundaries/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/ignore_boundaries/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_1.cram.crai filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_1.cram filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_1.fa filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_2.bed filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_2.cram.crai filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_2.cram filter=lfs diff=lfs merge=lfs -text
core/test/ignore_false_collapse/input/aln_2.fa filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/expected/aln_2.bed filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/expected/aln_3.bed filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/expected/aln_4.bed filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_2.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_2.bam filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_2.bed filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_3.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_3.bam filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_3.bed filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_4.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_4.bam filter=lfs diff=lfs merge=lfs -text
core/test/minor_collapse/input/aln_4.bed filter=lfs diff=lfs merge=lfs -text
core/test/misjoin/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/misjoin/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/misjoin/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/misjoin/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/pileup/input/indel.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/pileup/input/indel.bam filter=lfs diff=lfs merge=lfs -text
core/test/pileup/input/test.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/pileup/input/test.bam filter=lfs diff=lfs merge=lfs -text
core/test/standard/expected/aln_1.bed filter=lfs diff=lfs merge=lfs -text
core/test/standard/input/aln_1.bam.bai filter=lfs diff=lfs merge=lfs -text
core/test/standard/input/aln_1.bam filter=lfs diff=lfs merge=lfs -text
core/test/standard/input/aln_1.bed filter=lfs diff=lfs merge=lfs -text
